<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>The Exchange</h1>
	<p>
		Please sign in to access your account
	</p>
	<%= link_to "Sign up", signup_path, :class => "btn btn-large btn-primary" %>
	<%= link_to "Sign in", '#', :class => "btn btn-large btn-secondary" %>
</div>